@charset "UTF-8";
/* ------------------------------------------------------------------ */
/* O L D - B R O W S E R    J R E J E C T    N O T I F I C A T I O N  */
/* ------------------------------------------------------------------ */
#jr_overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 2147483646;
}

#jr_wrap {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 2147483647;
}

#jr_header {
  display: block;
  margin: 0;
  margin-bottom: 0.5em;
  padding: 5px;
  padding-bottom: 0;
  font: bold 1.3em/1 Helvetica, Arial, sans-serif;
  color: #333;
}

#jr_inner {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  height: auto;
  background: #FFF;
  border: 1px solid #CCC;
  color: #4F4F4F;
  font: 400 12px/1 "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
#jr_inner p {
  padding: 5px;
  margin: 0;
}
#jr_inner ul {
  margin: 0;
  padding: 0;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}
#jr_inner ul li {
  margin: 0 10px 10px 10px;
  padding: 0;
  width: 120px;
  height: 122px;
  float: left;
  text-align: center;
  cursor: pointer;
}
#jr_inner li a {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 0.8em;
  text-decoration: none;
}
#jr_inner li a:hover {
  text-decoration: underline;
}
#jr_inner .jr_icon {
  margin: 1px auto;
  padding: 0;
  width: 100px;
  height: 100px;
  background: transparent no-repeat scroll left top;
  cursor: pointer;
}

#jr_close {
  margin: 0;
  padding: 0;
  clear: both;
}
#jr_close a {
  display: block;
  margin: 0;
  padding: 0;
  width: auto;
  color: #000;
  text-decoration: underline;
}
#jr_close p {
  margin: 0;
  padding: 10px 0 0 0;
}

/* ---------------------------------------- */
/* S L I C K    S L I D E R    S T Y L E    */
/* ---------------------------------------- */
.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
  outline: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

/* -------------------------------------------------- */
/* S L I C K - S L I D E R    T H E M E    S T Y L E  */
/* -------------------------------------------------- */
.slick-loading .slick-list {
  background: #fff url('../img/ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url('../fonts/slick.eot');
  src: url('../fonts/slick.eot?#iefix') format("embedded-opentype"), url('../fonts/slick.woff') format("woff"), url('../fonts/slick.ttf') format("truetype"), url('../fonts/slick.svg#slick') format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

/* ---------------------------------------- */
/* G E N E R A L    S T Y L E               */
/* ---------------------------------------- */
.ic {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.ic:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
}

.order__heading {
  font-size: 30px;
  color: #323232;
  text-align: center;
  margin-bottom: 50px;
}
.order__list {
  display: table;
  padding: 0 25px;
  border-bottom: 1px dashed #dbdbdb;
}
.order__list--unstyle {
  list-style-type: none;
}
.order__step {
  position: relative;
  display: table-cell;
  width: 1%;
}
.order__item {
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #eee;
  font: 500 30px/50px Arial, sans-serif;
  text-align: center;
  color: #fff;
  text-decoration: none;
}
.order__item:before, .order__item:after {
  content: "";
  position: absolute;
  display: block;
  margin-top: -1px;
  width: 100%;
  height: 2px;
  top: 25px;
  left: -50%;
  background-color: #eee;
  z-index: -1;
}
.order__item:after {
  background-color: #ff0000;
  width: 0;
}
.order__item--active {
  background-color: #f00;
  transition: 0.3s ease-out background;
  transition-delay: 0.3s;
}
.order__item--active:after {
  width: 100%;
  transition: 0.3s ease-out all;
}
.order__item--hideline:before, .order__item--hideline:after {
  content: none;
}
.order__text {
  display: block;
  padding: 10px 15px;
  font: 500 15px/15px Arial, sans-serif;
  color: #999;
  text-align: center;
}
.order__warning {
  background: url(../img/warning.png) no-repeat left;
  padding-left: 60px;
  text-align: left;
}

.tabs {
  padding: 50px 100px;
  text-align: center;
  border-bottom: 1px dashed #dbdbdb;
}
.tabs__item {
  display: none;
}
.tabs__item--active {
  display: block;
}
.tabs__package {
  display: inline-block;
  padding: 15px 25px;
  color: #fff;
  background-color: #0e5cc1;
  background-image: linear-gradient(-58deg, #5890d8 0%, #5890d8 0%, #0953b3 100%);
}

.navigation {
  text-align: center;
}
.navigation__btn--next {
  background: linear-gradient(to bottom, #e23e3b 0%, #da262c 100%);
  color: #fff;
  padding: 15px 50px;
  text-align: center;
  width: 220px;
  border: 0;
  font-size: 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

.order__item--active + .order__text {
  color: #000;
}

.child__image-box {
  text-align: center;
}
.child__image-box img {
  display: inline-block;
}
.child__group input[type="radio"] {
  display: none;
}
.child__group input[type="radio"]:checked + label {
  background: linear-gradient(to bottom, #ffb619 0%, #efa209 100%);
}
.child__group input[type="radio"]:checked + label:before {
  content: "";
  position: absolute;
  left: 50px;
  font-family: FontAwesome;
  float: left;
  color: #fff;
}
.child__group label {
  position: relative;
  border-radius: 5px;
  border-top: 1px solid #acacac;
  border-bottom: 1px solid #cacaca;
  margin: 0 10px;
  background: #acacac;
  color: #fff;
  font-size: 20px;
  text-shadow: 0 -1px 0 #b5b5b5;
  padding: 17px 20px 16px;
  width: 300px;
  overflow: hidden;
  cursor: pointer;
}

.gender__man, .gender__woman {
  opacity: 0;
  display: none;
}
.gender__active {
  opacity: 1;
  display: inline-block;
}
.gender__group input[type="radio"] {
  display: none;
}
.gender__group input[type="radio"]:checked + label span:after {
  position: absolute;
  content: "";
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background: linear-gradient(to bottom, #eaa21a 0%, #f8bd47 100%);
  height: 10px;
  width: 10px;
  top: 5px;
  left: 5px;
}
.gender__group input[type="radio"] + label {
  cursor: pointer;
  margin-right: 20px;
}
.gender__group input[type="radio"] + label span {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-bottom: -4px;
  margin-right: 15px;
  background-color: #cecece;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.gender__group input[type="radio"] + label span:before {
  content: "";
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
  height: 18px;
  width: 18px;
  position: absolute;
  left: 1px;
  top: 1px;
}
.gender__input, .gender__select {
  width: 300px;
  border: 1px solid #dbdbdb;
  border-top: 1px solid #bababa;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 13px;
  font-size: 16px;
  background: #dbdbdb;
  color: #474747;
  text-align: left;
  position: relative;
  outline: 0;
  white-space: nowrap;
  margin-bottom: 30px;
}

.photo__download {
  display: inline-block !important;
}
