@charset "UTF-8";
/* ------------------------------------------------------------------ */
/* O L D - B R O W S E R    J R E J E C T    N O T I F I C A T I O N  */
/* ------------------------------------------------------------------ */
#jr_overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 2147483646;
}

#jr_wrap {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 2147483647;
}

#jr_header {
  display: block;
  margin: 0;
  margin-bottom: 0.5em;
  padding: 5px;
  padding-bottom: 0;
  font: bold 1.3em/1 Helvetica, Arial, sans-serif;
  color: #333;
}

#jr_inner {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  height: auto;
  background: #FFF;
  border: 1px solid #CCC;
  color: #4F4F4F;
  font: 400 12px/1 "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
#jr_inner p {
  padding: 5px;
  margin: 0;
}
#jr_inner ul {
  margin: 0;
  padding: 0;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}
#jr_inner ul li {
  margin: 0 10px 10px 10px;
  padding: 0;
  width: 120px;
  height: 122px;
  float: left;
  text-align: center;
  cursor: pointer;
}
#jr_inner li a {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 0.8em;
  text-decoration: none;
}
#jr_inner li a:hover {
  text-decoration: underline;
}
#jr_inner .jr_icon {
  margin: 1px auto;
  padding: 0;
  width: 100px;
  height: 100px;
  background: transparent no-repeat scroll left top;
  cursor: pointer;
}

#jr_close {
  margin: 0;
  padding: 0;
  clear: both;
}
#jr_close a {
  display: block;
  margin: 0;
  padding: 0;
  width: auto;
  color: #000;
  text-decoration: underline;
}
#jr_close p {
  margin: 0;
  padding: 10px 0 0 0;
}

/* ---------------------------------------- */
/* G E N E R A L    S T Y L E               */
/* ---------------------------------------- */
body {
  overflow-x: hidden;
  background: #6d1411 url(../img/icons/bg-order.png) repeat-y scroll center center;
}

.ic {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.ic:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
}

.navbar {
  z-index: 10;
}
.navbar__container {
  position: relative;
}
.navbar__icon {
  position: absolute;
  top: -30px;
  z-index: 10;
}
.navbar__icon--left {
  left: -368px;
}
.navbar__icon--left:before {
  width: 368px;
  height: 404px;
  background: transparent url(../img/icons/tree-left.png) no-repeat 0 0;
}
.navbar__icon--right {
  right: -377px;
}
.navbar__icon--right:before {
  width: 337px;
  height: 350px;
  background: transparent url(../img/icons/tree-right.png) no-repeat 0 0;
}
.navbar__btn {
  padding: 9px 32px !important;
  font: 900 14px/24px "MuseoSansCyrl", sans-serif !important;
  color: #fff !important;
}

.navbar-nav {
  display: inline-block;
  float: none;
}

.navbar-default {
  top: 0;
  left: 0;
  right: 0;
  padding: 15px 0 55px;
  border-color: transparent;
  background: transparent url(../img/navbar-affix.png) no-repeat scroll bottom center;
}
.navbar-default .navbar-nav > li > a {
  margin: 0 17px;
  font: 400 18px/20px "PT Sans", sans-serif;
  color: #000;
}

.video-btn {
  display: block;
  padding: 14px;
  margin: 17px 0;
  border: none;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmNDgwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmYWUwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #ff4800), color-stop(100%, #ffae00));
  background-image: -moz-linear-gradient(bottom, #ff4800 0%, #ffae00 100%);
  background-image: -webkit-linear-gradient(bottom, #ff4800 0%, #ffae00 100%);
  background-image: linear-gradient(to top, #ff4800 0%, #ffae00 100%);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 0 6px 0 #d42d00;
  font: 900 18px/24px "MuseoSansCyrl", sans-serif;
  text-align: center;
  color: #fff;
}
.video-btn:hover, .video-btn:focus {
  color: #fff;
  text-decoration: none;
  outline: none;
}

.img-responsive {
  margin: 0 auto;
}

.heading {
  margin-bottom: 25px;
  font-size: 30px;
  color: #323232;
  text-align: center;
}

.warning {
  background: transparent url(../img/icons/warning.png) no-repeat scroll top left;
  padding-left: 60px;
  min-height: 46px;
}

.notify {
  display: inline-block;
  padding-left: 32px;
  background: transparent url(../img/icons/notify.png) no-repeat scroll top left;
  min-height: 21px;
}

.validate-error {
  box-shadow: 0 0 0 1px #d33 !important;
  background: #ffc6c6 !important;
}

.btn-blocked {
  background: #bababa !important;
}

.flip--active .flip__box {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.flip__box {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
.flip__front, .flip__back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.flip__front {
  z-index: 2;
}
.flip__back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  display: none;
}

/* ---------------------------------------- */
/* O R D E R    S T Y L E                   */
/* ---------------------------------------- */
.order__box {
  margin: 20px 0;
  padding: 79px 0 86px;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
.order__head {
  padding: 0 60px 30px;
  border-bottom: 1px dashed #dbdbdb;
}
.order__footer {
  padding: 27px 60px 0;
  border-top: 1px dashed #dbdbdb;
}
.order__list {
  display: table;
  margin: 0 -25px;
  padding: 0;
}
.order__list--unstyle {
  list-style-type: none;
}
.order__step {
  position: relative;
  display: table-cell;
  width: 1%;
}
.order__line:before, .order__line:after {
  content: "";
  position: absolute;
  display: block;
  margin-top: -1px;
  width: 100%;
  height: 2px;
  top: 25px;
  left: -50%;
  background-color: #eee;
}
.order__line:after {
  width: 0;
}
.order__line--hide:before, .order__line--hide:after {
  content: none;
}
.order__line--active:after {
  width: 100%;
  background: #9e2222;
  border-bottom: 1px solid #de3234;
  -moz-transition: 0.4s ease-out all;
  -o-transition: 0.4s ease-out all;
  -webkit-transition: 0.4s ease-out all;
  -ms-transition: 0.4s ease-out all;
  transition: 0.4s ease-out all;
}
.order__item {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #eee;
  font: 500 30px/50px Arial, sans-serif;
  text-align: center;
  color: #fff;
  text-decoration: none;
  z-index: 2;
  cursor: default;
}
.order__item:hover {
  color: #fff;
}
.order__item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -100%;
  -webkit-text-shadow: 0 -1px 0 #b72a2a;
  -moz-text-shadow: 0 -1px 0 #b72a2a;
  -ms-text-shadow: 0 -1px 0 #b72a2a;
  -o-text-shadow: 0 -1px 0 #b72a2a;
  text-shadow: 0 -1px 0 #b72a2a;
  -webkit-box-shadow: inset 0 -1px 0 #a02828;
  -moz-box-shadow: inset 0 -1px 0 #a02828;
  -ms-box-shadow: inset 0 -1px 0 #a02828;
  -o-box-shadow: inset 0 -1px 0 #a02828;
  box-shadow: inset 0 -1px 0 #a02828;
  background: #e23e3b;
  background: -webkit-linear-gradient(top, #e23e3b 0, #da262c 100%);
  background: -moz-linear-gradient(top, #e23e3b 0, #da262c 100%);
  background: linear-gradient(to bottom, #e23e3b 0%, #da262c 100%);
}
.order__item--active:before {
  left: 0;
  -moz-transition: 0.3s ease-out all;
  -o-transition: 0.3s ease-out all;
  -webkit-transition: 0.3s ease-out all;
  -ms-transition: 0.3s ease-out all;
  transition: 0.3s ease-out all;
  transition-delay: 0.4s;
}
.order__text {
  position: relative;
  z-index: 5;
}
.order__description {
  display: block;
  padding: 10px 15px;
  font: 500 15px/15px Arial, sans-serif;
  color: #999;
  text-align: center;
}
.order__description--active {
  color: #000;
  font-weight: 600;
}
.order__warning {
  margin-bottom: 20px;
}

.tabs {
  padding: 30px 60px;
}
.tabs__item {
  display: none;
}
.tabs__item--active {
  display: block;
}
.tabs__package {
  display: inline-block;
  padding: 15px 25px;
  color: #fff;
  background-color: #0e5cc1;
  background-image: linear-gradient(-58deg, #5890d8 0%, #5890d8 0%, #0953b3 100%);
}

.navigation {
  text-align: center;
}
.navigation__btn {
  cursor: pointer;
}
.navigation__btn:focus {
  outline: none;
}
.navigation__btn--prev {
  margin-top: 25px;
  float: left;
  border-bottom: 1px dashed #000;
}
.navigation__btn--red {
  padding: 15px 50px;
  background: linear-gradient(to bottom, #e23e3b 0%, #da262c 100%);
  color: #fff;
  text-align: center;
  width: 220px;
  border: 0;
  font-size: 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
.navigation__btn--submit {
  display: none;
}

/* ---------------------------------------- */
/* P A C K A G E    S T Y L E               */
/* ---------------------------------------- */
.package__photo {
  display: table-cell;
  vertical-align: bottom;
}
.package__btn {
  margin-top: 20px;
}

/* ---------------------------------------- */
/* C H I L D    S T Y L E                   */
/* ---------------------------------------- */
.child__img {
  margin: 0 auto;
}

.checkbox-btn__control {
  display: none;
}
.checkbox-btn__control:checked + .checkbox-btn__box {
  background: linear-gradient(to bottom, #ffb619 0%, #efa209 100%);
}
.checkbox-btn__control:checked + .checkbox-btn__box:before {
  content: "";
  font-family: FontAwesome;
  color: #fff;
}
.checkbox-btn__box {
  position: relative;
  padding: 17px 20px 16px;
  width: 300px;
  border-radius: 5px;
  border-top: 1px solid #acacac;
  border-bottom: 1px solid #cacaca;
  margin: 0 10px;
  background: #acacac;
  color: #fff;
  font-size: 20px;
  text-shadow: 0 -1px 0 #b5b5b5;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
}
.checkbox-btn__box:before {
  position: relative;
  margin-right: -20px;
  right: 35px;
}

/* ---------------------------------------- */
/* G E N D E R    S T Y L E                 */
/* ---------------------------------------- */
.gender__group {
  margin: 20px 0;
}
.gender__item--hidden {
  display: none;
}
.gender__select {
  opacity: 0;
  display: none;
}
.gender__select--active {
  opacity: 1;
  display: inline-block;
}
.gender__input, .gender__select {
  width: 300px;
  border: 1px solid #dbdbdb;
  border-top: 1px solid #bababa;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 13px;
  font-size: 16px;
  background: #dbdbdb;
  color: #474747;
  text-align: left;
  position: relative;
  outline: 0;
  white-space: nowrap;
}
.gender__notify {
  margin-top: 20px;
}

.radio-btn__control {
  display: none;
}
.radio-btn__control:checked + .radio-btn__box .radio-btn__icon:after {
  position: absolute;
  content: "";
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background: linear-gradient(to bottom, #eaa21a 0%, #f8bd47 100%);
  height: 10px;
  width: 10px;
  top: 5px;
  left: 5px;
}
.radio-btn__control:checked + .radio-btn__box .radio-btn__icon--check:before {
  content: "";
  font: 400 23px/17px FontAwesome;
  color: #f2b133;
}
.radio-btn__control:checked + .radio-btn__box .radio-btn__icon--check:after {
  content: none;
}
.radio-btn__box {
  cursor: pointer;
  margin-right: 20px;
}
.radio-btn__box--square {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
.radio-btn__icon {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-bottom: -4px;
  margin-right: 15px;
  background-color: #cecece;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.radio-btn__icon:before {
  content: "";
  border-radius: inherit;
  background-color: #fff;
  height: 18px;
  width: 18px;
  position: absolute;
  left: 1px;
  top: 1px;
}
.radio-btn__icon--check {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

.download__heading {
  margin-bottom: 25px;
}
.download__select {
  float: left;
}
.download__file {
  position: absolute;
  margin-left: -99999px;
}
.download__btn {
  padding: 10px 17px 9px;
  border-radius: 5px;
  border-bottom: 1px solid #d68c22;
  box-shadow: 0 1px 1px #d9d9d9;
  background: #ffb619;
  background: -webkit-linear-gradient(top, #ffb619 0, #efa30a 100%);
  background: -moz-linear-gradient(top, #ffb619 0, #efa30a 100%);
  background: linear-gradient(to bottom, #ffb619 0%, #efa30a 100%);
  text-shadow: 0 -1px 0 #ed8603;
  color: #fff;
  cursor: pointer;
}
.download__preview {
  margin-bottom: 20px;
  text-align: center;
}
.download__preload {
  color: #ce6200;
}

.price__heading {
  margin-bottom: 20px;
  font: 400 20px/20px Arial, sans-sesrif;
}
.price__cost {
  font-weight: bold;
}
.price__total {
  padding: 0 8px;
}
