@charset "UTF-8";
/* ------------------------------------------------------------------ */
/* O L D - B R O W S E R    J R E J E C T    N O T I F I C A T I O N  */
/* ------------------------------------------------------------------ */
#jr_overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 2147483646;
}

#jr_wrap {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 2147483647;
}

#jr_header {
  display: block;
  margin: 0;
  margin-bottom: 0.5em;
  padding: 5px;
  padding-bottom: 0;
  font: bold 1.3em/1 Helvetica, Arial, sans-serif;
  color: #333;
}

#jr_inner {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  height: auto;
  background: #FFF;
  border: 1px solid #CCC;
  color: #4F4F4F;
  font: 400 12px/1 "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
#jr_inner p {
  padding: 5px;
  margin: 0;
}
#jr_inner ul {
  margin: 0;
  padding: 0;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}
#jr_inner ul li {
  margin: 0 10px 10px 10px;
  padding: 0;
  width: 120px;
  height: 122px;
  float: left;
  text-align: center;
  cursor: pointer;
}
#jr_inner li a {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 0.8em;
  text-decoration: none;
}
#jr_inner li a:hover {
  text-decoration: underline;
}
#jr_inner .jr_icon {
  margin: 1px auto;
  padding: 0;
  width: 100px;
  height: 100px;
  background: transparent no-repeat scroll left top;
  cursor: pointer;
}

#jr_close {
  margin: 0;
  padding: 0;
  clear: both;
}
#jr_close a {
  display: block;
  margin: 0;
  padding: 0;
  width: auto;
  color: #000;
  text-decoration: underline;
}
#jr_close p {
  margin: 0;
  padding: 10px 0 0 0;
}

/* ---------------------------------------- */
/* G E N E R A L    S T Y L E               */
/* ---------------------------------------- */
body {
  background: #6d1411 url(../img/icons/bg-order.png) repeat-y scroll center center;
}

.ic {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.ic:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
}

/* ---------------------------------------- */
/* O R D E R    S T Y L E                   */
/* ---------------------------------------- */
.order__box {
  margin: 20px 0;
  padding: 79px 0 86px;
  background-color: #fff;
}
.order__head {
  font-size: 30px;
  color: #323232;
  text-align: center;
  margin-bottom: 50px;
}
.order__footer {
  padding: 27px 60px 0;
  border-top: 1px dashed #dbdbdb;
}
.order__list {
  display: table;
  padding: 0 25px;
  border-bottom: 1px dashed #dbdbdb;
}
.order__list--unstyle {
  list-style-type: none;
}
.order__step {
  position: relative;
  display: table-cell;
  width: 1%;
}
.order__line:before, .order__line:after {
  content: "";
  position: absolute;
  display: block;
  margin-top: -1px;
  width: 100%;
  height: 2px;
  top: 25px;
  left: -50%;
  background-color: #eee;
}
.order__line:after {
  width: 0;
}
.order__line--hide:before, .order__line--hide:after {
  content: none;
}
.order__line--active:after {
  width: 100%;
  background: #9e2222;
  border-bottom: 1px solid #de3234;
  -moz-transition: 0.4s ease-out all;
  -o-transition: 0.4s ease-out all;
  -webkit-transition: 0.4s ease-out all;
  -ms-transition: 0.4s ease-out all;
  transition: 0.4s ease-out all;
}
.order__item {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #eee;
  font: 500 30px/50px Arial, sans-serif;
  text-align: center;
  color: #fff;
  text-decoration: none;
  z-index: 2;
  cursor: default;
}
.order__item:hover {
  color: #fff;
}
.order__item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -100%;
  -webkit-text-shadow: 0 -1px 0 #b72a2a;
  -moz-text-shadow: 0 -1px 0 #b72a2a;
  -ms-text-shadow: 0 -1px 0 #b72a2a;
  -o-text-shadow: 0 -1px 0 #b72a2a;
  text-shadow: 0 -1px 0 #b72a2a;
  -webkit-box-shadow: inset 0 -1px 0 #a02828;
  -moz-box-shadow: inset 0 -1px 0 #a02828;
  -ms-box-shadow: inset 0 -1px 0 #a02828;
  -o-box-shadow: inset 0 -1px 0 #a02828;
  box-shadow: inset 0 -1px 0 #a02828;
  background: #e23e3b;
  background: -webkit-linear-gradient(top, #e23e3b 0, #da262c 100%);
  background: -moz-linear-gradient(top, #e23e3b 0, #da262c 100%);
  background: linear-gradient(to bottom, #e23e3b 0%, #da262c 100%);
}
.order__item--active:before {
  left: 0;
  -moz-transition: 0.3s ease-out all;
  -o-transition: 0.3s ease-out all;
  -webkit-transition: 0.3s ease-out all;
  -ms-transition: 0.3s ease-out all;
  transition: 0.3s ease-out all;
  transition-delay: 0.4s;
}
.order__text {
  position: relative;
  z-index: 5;
}
.order__description {
  display: block;
  padding: 10px 15px;
  font: 500 15px/15px Arial, sans-serif;
  color: #999;
  text-align: center;
}
.order__description--active {
  color: #000;
}
.order__warning {
  background: url(../img/warning.png) no-repeat left;
  padding-left: 60px;
  text-align: left;
}

.tabs {
  padding: 50px 100px;
  text-align: center;
}
.tabs__item {
  display: none;
}
.tabs__item--active {
  display: block;
}
.tabs__package {
  display: inline-block;
  padding: 15px 25px;
  color: #fff;
  background-color: #0e5cc1;
  background-image: linear-gradient(-58deg, #5890d8 0%, #5890d8 0%, #0953b3 100%);
}

.navigation {
  text-align: center;
}
.navigation__btn {
  cursor: pointer;
}
.navigation__btn--prev {
  float: left;
  border-bottom: 1px dashed #000;
}
.navigation__btn--next {
  background: linear-gradient(to bottom, #e23e3b 0%, #da262c 100%);
  color: #fff;
  padding: 15px 50px;
  text-align: center;
  width: 220px;
  border: 0;
  font-size: 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

.child__image-box {
  text-align: center;
}
.child__image-box img {
  display: inline-block;
}
.child__group input[type="radio"] {
  display: none;
}
.child__group input[type="radio"]:checked + label {
  background: linear-gradient(to bottom, #ffb619 0%, #efa209 100%);
}
.child__group input[type="radio"]:checked + label:before {
  content: "";
  position: absolute;
  left: 50px;
  font-family: FontAwesome;
  float: left;
  color: #fff;
}
.child__group label {
  position: relative;
  border-radius: 5px;
  border-top: 1px solid #acacac;
  border-bottom: 1px solid #cacaca;
  margin: 0 10px;
  background: #acacac;
  color: #fff;
  font-size: 20px;
  text-shadow: 0 -1px 0 #b5b5b5;
  padding: 17px 20px 16px;
  width: 300px;
  overflow: hidden;
  cursor: pointer;
}

.gender__select {
  opacity: 0;
  display: none;
}
.gender__select--active {
  opacity: 1;
  display: inline-block;
}
.gender__input, .gender__select {
  width: 300px;
  border: 1px solid #dbdbdb;
  border-top: 1px solid #bababa;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 13px;
  font-size: 16px;
  background: #dbdbdb;
  color: #474747;
  text-align: left;
  position: relative;
  outline: 0;
  white-space: nowrap;
  margin-bottom: 30px;
}

.child-gender__radiobtn {
  display: none;
}
.child-gender__radiobtn:checked + label span:after {
  position: absolute;
  content: "";
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background: linear-gradient(to bottom, #eaa21a 0%, #f8bd47 100%);
  height: 10px;
  width: 10px;
  top: 5px;
  left: 5px;
}
.child-gender__radiobtn + label {
  cursor: pointer;
  margin-right: 20px;
}
.child-gender__radiobtn + label span {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-bottom: -4px;
  margin-right: 15px;
  background-color: #cecece;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.child-gender__radiobtn + label span:before {
  content: "";
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
  height: 18px;
  width: 18px;
  position: absolute;
  left: 1px;
  top: 1px;
}

.photo__download {
  display: inline-block !important;
}
